// style flexlayout__tabset and flexlayout__tab



.loginbox-title {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    
    .login_log {
        height: 48px;
        // width: 264px;
    }
}




