//Element Tag Select
select {
    align-items: center;
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    background-color: var(--secondary__background__color);
    border: 0;
    color: inherit;
    height: 30px !important;
    padding: 0px 5px;
}
