.login-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .login-box .card {
    padding: 15px;
  }
  
  .login-box .form-group {
    margin-bottom: 5px;
  }
  
  .login-box .form-control {
    border-radius: unset !important;
  }
  
  .login-box label {
    font-weight: 400;
  }
  
  .auth-sep {
    margin-top: 22px;
    margin-bottom: 24px;
    line-height: 20px;
    text-align: center;
    display: block;
    position: relative;
  }
  
  .auth-sep > span {
    display: table-cell;
    width: 30%;
    white-space: nowrap;
    color: #555;
    font-size: 1rem;
  }
  
  .auth-sep > span > span {
    margin-top: -11px;
    display: block;
    font-weight: 300;
  }
  
  .auth-sep:after,
  .auth-sep:before {
    content: "";
    height: 1px;
    width: 100%;
    display: table-cell;
  }
  
  // ------- start project--------------
  
  .loginbox-title {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login_log {
    height: 48px;
    // width: 264px;
  }
  
  .lowercase {
    text-transform: lowercase;
  }
  
  .loginPrepend {
    width: 40px;
  }
  
  .loginPrepend i {
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 0 !important;
  }
  
  .copyright {
    width: 100%;
    text-align: center;
    font-style: italic;
    position: absolute;
    bottom: 5px;
    // color: #F47C30;
    color: #11497e;
    text-shadow: 1px 1px 2px #ccc;
  }
  
  .modal-header .close > span {
    color: #eee;
  }
  
  .pulsate {
    border: 1px solid blue;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -15px;
    right: -14px;
    -webkit-animation: 5s ease-out infinite pulsate;
    animation: 5s ease-out infinite pulsate;
    opacity: 0;
  }
  
  @-webkit-keyframes pulsate {
    30% {
      -webkit-transform: scale(0.1, 0.1);
      opacity: 0;
    }
  
    35% {
      opacity: 1;
    }
  
    40% {
      -webkit-transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
  
  @-moz-keyframes pulsate {
    30% {
      -moz-transform: scale(0.1, 0.1);
      opacity: 0;
    }
  
    35% {
      opacity: 1;
    }
  
    40% {
      -moz-transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
  
  @-o-keyframes pulsate {
    30% {
      -o-transform: scale(0.1, 0.1);
      opacity: 0;
    }
  
    35% {
      opacity: 1;
    }
  
    40% {
      -o-transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
  
  @keyframes pulsate {
    30% {
      transform: scale(0.1, 0.1);
      opacity: 0;
    }
  
    35% {
      opacity: 1;
    }
  
    40% {
      transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
  
  .languageFlag {
    width: 40px;
    font-size: 18px;
    padding: inherit;
  }
  
  /////////////////////////////////////////////
  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
  }
  
  .input-group .input-group-text {
    padding: 0.25rem 0.2rem;
    font-size: 1.1rem;
    border-radius: 0 !important;
  }
  
  .help-block {
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .card-block {
    padding: 10px;
  }
  .modal-dialog.modal-login {
    width: 350px;
    .modal-body {
      padding: 0;
    }
    .card {
      margin-top: 0;
      margin-bottom: 0;
      background-color: #36324a;
    }
    .card-body {
      padding: 24px;
    }
    input:-internal-autofill-selected {
      background-color: #36324a !important;
      background-image: none !important;
      color: white !important;
    }
  }
  .input-group-text.input-group-text-custom {
    background-color: inherit;
    border: 0;
    color: inherit;
  }
  .form-control.input-login {
    background-color: inherit;
    border: 0;
  }
  .input-group.input-group-login {
    border: 1px solid #615885;
    border-radius: 2px;
    padding: 2px 8px;
    margin-bottom: 16px;
    option {
      background-color: inherit;
    }
  }
  